body {
  font-family: sans-serif;
  padding: 20px;
}

.galleria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 150px);
  gap: 10px;
}

.foto {
  background-color: #636e72;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
